@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');

html {
    scroll-behavior: smooth;
    font-family: 'Inter', sans-serif;
}

.bg-mesh {
    background-color: #09090b;
    background-image: 
        radial-gradient(at 0% 0%, hsla(24,100%,15%,0.15) 0, transparent 50%), 
        radial-gradient(at 50% 0%, hsla(20,100%,10%,0.1) 0, transparent 50%);
}

/* Custom Scrollbar */
::-webkit-scrollbar { width: 8px; }
::-webkit-scrollbar-track { background: #09090b; }
::-webkit-scrollbar-thumb { background: #27272a; border-radius: 10px; }
::-webkit-scrollbar-thumb:hover { background: #3f3f46; }
